:root {
  --bg: #b9d3af;
  --brown: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --darkSalmon: #a0483c;
  --leaf: #d1e275;
  --sky: #41aadd;
  --coffee: #44231b;
  --cream: rgb(255, 239, 229);

  --lightText: rgb(255, 232, 217);
  --trCream: rgba(255, 248, 243, 0.918);
  --purpleText: #a099a3;
  --darkText: #3d1a15;

  --shadow: #39161096;
}

html {
  background: radial-gradient(circle at bottom left, #c2edbaa3, transparent 50%), radial-gradient(circle at bottom right, #c2e5ff61, transparent 50%);
  background-color: var(--trCream);
}

html, body, #root, .app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: Jost, sans-serif;
  color: var(--purpleText);
}

h2 {
  color: var(--darkText);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.c {
  justify-content: center;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.app {
  justify-content: flex-start;
}

/* --- */

.visible {
  visibility: visible;
  opacity: 1;
  transition: height 0.5s, width 0.5s, opacity 0.5s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  transition: visibility 0s 1s, opacity 1s ease;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

form {
  width: 95%;
}

form svg {
  margin: 2vh 0 0;
  align-self: flex-end;
}

.icon {
  cursor: pointer;
}

input,
textarea {
  margin: 4px;
  width: 100%;
  min-height: 32px;
  outline: none;
  border: none;
  padding: 0 1vh;
  border-radius: 8px;
  font-family: Jost, sans-serif;
  box-sizing: border-box;
}

textarea {
  padding: 1vh;
  height: 120px;
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  max-height: 120px;
}

img {
  box-shadow: 0 2px 3px #6c2c9c82;
}

.main {
  z-index: 0;
  width: 570px;
  height: 200px;
  margin: 1vh;
  background: linear-gradient(0deg, #ffffffa3, #ffffff61);
  padding: 1vh;
  border-radius: 160px 24px 24px 160px;
  border: 1px solid white;
  box-shadow: 0 2px 3px #6c2c9c36;
  position: relative;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.closed {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

/* HEADER */

.header {
  height: 200px;
  align-items: center;
}

.header img {
  width: 180px;
  border-radius: 100%;
  margin-right: 1svw;
}

.info {
  margin: 2svh 0;
  height: calc(200px - 4svh);
  justify-content: space-between;
  align-items: unset;
  border-left: 1px solid;
  padding-left: 2vh;
}

.title, .contact {
  align-items: unset;
}

.aboutMe {
  width: 570px;
  margin-top: 12svh;
  padding: 1vh;
  text-align: justify;  
}

/* PROJECTS */

.projectButtons {
  position: absolute;
  bottom: -46px;
  right: 2vh;
  width: 240px;
  height: 36px;
  align-items: center;
}

.projectButtonContainer {
  width: 36px;
}

.projectButton {
  width: 24px;
  border-radius: 100%;
  aspect-ratio: 1;
  transition: width 0.5s;
}

.projectButton.selected {
  width: 12px;
}

.projectButton.hidden {
  width: 2px;
}

.projectButton:hover {
  width: 36px;
  transition: width 0.25s;
  cursor: pointer;
}

.projectButton.selected:hover {
  width: 12px;
}

.projects {
  width: 80%;
  margin-top: 4svh;
  border-top: 1px solid;
}

.project {
  height: 100%;
  padding: 4svh;
  align-items: center;
  justify-content: center;
}

.project h2 {
  color: var(--darkText);
  margin-bottom: 2vh;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: font-size 0.25s;
}

.projectInfo {
  flex: none;
  width: 320px;
  margin: 2svh;
  margin-top: -4svh;
  align-items: flex-start;
}

.projectInfo h2:hover {
  font-size: 1.8rem;
}

.projectImageContainer {
  margin: 2svh;
  width: calc(80% - 320px - 4svh);
  max-height: calc(100svh - 320px);
}

.projectImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: zoom-in;
}

.imageModal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #241c2773;
}

.zoomImage {
  position: absolute;
  cursor: zoom-out;
  max-width: 80%;
  border-radius: 6px;
}

::-webkit-scrollbar {
  border-style: none;
  width: 0.4vw;
  min-width: 6px;
  height: 98%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purpleText);
  border-radius: 4px;
}

@media (orientation: portrait) {
  .app {
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: flex-start;

    font-size: 0.8rem;
  }

  .main {
    padding: 2svh;
    width: unset;
    height: unset;
    background: unset;
    border: none;
    box-shadow: none;
  }

  .header {
    flex-direction: column;
    align-items: center;
    height: unset;
  }

  .header img {
    margin: 0;
    width: 160px;
  }

  .info {
    height: 120px;
    border: none;
    align-items: center;
    padding: 0;
  }

  .info * {
    align-items: center;
  }

  .projects {
    width: 100svw;
    margin-top: 2svh;
  }

  .project {
    padding: 2svh;
    flex-direction: column;
    border-bottom: 1px solid;
  }

  .projectInfo {
    width: unset;
  }

  .projectInfo h2:hover {
    font-size: 1.5rem;
  }

  .projectImageContainer {
    width: unset;
    max-width: 100%;
    max-height: unset;
  }

  .projectImage {
    max-width: 100%;
    margin: 1vh;
    margin-bottom: 4vh;
  }
}

@media (orientation: landscape) and (max-width: 1200px) {
  .app {
    font-size: 0.8rem;
  }

  .main.open {
    width: 460px;
    height: 180px;
  }

  .header img {
    width: 160px;
  }

  .info {
    height: 140px;
  }

  .projects {
    width: 95%;
  }

  .projectInfo {
    width: 180px;
  }

  .projectImageContainer {
    width: calc(80% - 180px - 4svh);
  }

  .projectImage {
    max-height: calc(100svh - 320px);
  }
}

@media (orientation: landscape) and (max-height: 800px) {
  .app {
    overflow-y: auto;
  }
  
  .aboutMe {
    margin: unset;
    margin-top: 40px;
    height: calc(100svh - 36px);
    flex: none;
  }

  .project {
    margin-top: 40px;
    width: 100%;
    height: calc(100svh - 36px);
    flex: none;
  }

  .projectImageContainer {
    width: unset;
    max-height: unset;
    max-width: 60svw;
  }

  .projectImage {
    max-height: 80svh;
    max-width: 60svw;
    width: auto;
  }

  .zoomImage {
    max-width: 95%;
    max-height: 95%;
  }
}