:root {
  --bg: #b9d3af;
  --brown: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --darkSalmon: #a0483c;
  --leaf: #d1e275;
  --sky: #41aadd;
  --coffee: #44231b;
  --cream: rgb(255, 239, 229);

  --lightText: rgb(255, 232, 217);
  --trCream: rgba(255, 249, 245, 0.747);
  --purpleText: #a023d5;
  --darkText: #3d1a15;

  --shadow: #39161096;
}

html {
  background: radial-gradient(circle at bottom left, #c2edbaa3, transparent 50%), radial-gradient(circle at bottom right, #c2e5ff61, transparent 50%);
  background-color: var(--trCream);
}

html, body, #root, .app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: Jost, sans-serif;
  color: var(--purpleText);
}

h1 {
  color: var(--darkText);
}

h1, h2, h3, h4 {
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.c {
  justify-content: center;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.app {
  justify-content: flex-start;
  overflow: auto;
}

/* --- */

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

form {
  width: 95%;
}

form svg {
  margin: 2vh 0 0;
  align-self: flex-end;
}

.icon {
  cursor: pointer;
}

input,
textarea {
  margin: 4px;
  width: 100%;
  min-height: 32px;
  outline: none;
  border: none;
  padding: 0 1vh;
  border-radius: 8px;
  font-family: Jost, sans-serif;
  box-sizing: border-box;
}

textarea {
  padding: 1vh;
  height: 120px;
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  max-height: 120px;
}

img {
  box-shadow: 0 2px 3px #6c2c9c82;
}

.main {
  padding: 4vh;
}

/* HEADER */

.header img {
  width: 240px;
  border-radius: 100%;
  margin-right: 2svw;
}

.info {
  margin-top: 2svh;
  height: calc(240px - 4svh);
  justify-content: space-between;
  align-items: unset;
}

.title, .contact {
  align-items: unset;
}

/* INFO */

.projects {
  width: 80%;
  margin-top: 4svh;
  border-top: 1px solid;
}

.project {
  width: 100%;
  padding: 4svh;
  border-bottom: 1px solid;
  align-items: center;
}

.project h2 {
    color: var(--darkText);
    margin-bottom: 2vh;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: font-size 0.25s;
}

.projectInfo {
  width: 100%;
  margin: 2svh;
  margin-top: -4svh;
}

.projectInfo h2:hover {
  font-size: 1.8rem;
}

.projectImage {
  margin: 2svh;
  max-width: 45%;
  object-fit: cover;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: zoom-in;
}

.imageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #241c2773;
}

.zoomImage {
  position: absolute;
  z-index: 10;
  cursor: zoom-out;
  max-width: 80%;
  border-radius: 6px;
}

::-webkit-scrollbar {
  border-style: none;
  width: 0.4vw;
  min-width: 6px;
  height: 98%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purpleText);
  border-radius: 4px;
}

@media (orientation: portrait) {
  .app {
    overflow-x: hidden;
    justify-content: flex-start;

    font-size: 0.8rem;
  }

  .main {
    padding: 2svh;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .header img {
    margin: 0;
    width: 160px;
  }

  .info {
    height: 140px;
  }

  .projects {
    width: 100%;
  }

  .project {
    padding: 2svh;
    flex-direction: column;
  }

  .projectInfo h2:hover {
    font-size: 1.5rem;
  }

  .projectImage {
    max-width: 100%;
    margin: 1vh;
    margin-bottom: 4vh;
  }
}

@media (orientation: landscape) and (max-width: 1200px) {
  .app {
    font-size: 0.8rem;
  }

  .header img {
    width: 160px;
  }

  .info {
    height: 140px;
  }

  .projects {
    width: 95%;
  }
}